/**************************************
    Table of Content
	  1. BASIC
	  2. NAVIGATION
    3. LANDING PAGE
    4. BLOG
    5. ABOUT
    6. CONTACT
    7. FOOTER
**************************************/

/* BASIC
**************************************/

body {
  font-size: 15px;
  line-height: 26px;
  background-color: #e6e6e6;
}
h1,
h2,
h3,
h4,
h5,
body,
p,
.topbar-section,
.navbar-inverse .navbar-nav .nav-link,
.header .dropdown-menu,
.navbar-nav .nav-link {
  font-family: "Nunito", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.4;
  color: #111111;
}
h1:hover a,
h2:hover a,
h3:hover a,
h4:hover a,
h5:hover a,
h6:hover a {
  text-decoration: underline !important;
  color: #111111 !important;
}
h1 {
  font-size: 60px;
  line-height: 40px;
  margin-bottom: 23px;
}
h2 {
  font-size: 26px;
  line-height: 38px;
  margin-bottom: 20px;
}
h3 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 17px;
}
h4 {
  font-size: 20px;
  line-height: 29px;
  margin-bottom: 14px;
}
h5 {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 11px;
}
h6 {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 11px;
}
a {
  color: #111111;
  text-decoration: none !important;
}
p {
  color: #5e5e5e;
  margin-bottom: 26px;
  font-size: 15px;
  line-height: 26px;
}

/* NAVIGATION
**************************************/
.navigation {
  display: block;
  float: right;
  margin: 1.5em 0 1em;
}
ul {
  list-style-type: none;
  margin: 0;
}
ul li {
  display: inline-block;
  isolation: isolate;
}
li a {
  background: none;
  border: 0;
  box-sizing: border-box;
  margin: 1em;
  padding: 0.6em 2em;
  box-shadow: inset 0 0 0 1px #5e5e5e;
  color: #5e5e5e;
  font-size: inherit;
  font-weight: 700;
  position: relative;
  vertical-align: middle;
}
li a::before, li a::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}
li a {
  transition: color 0.25s;
}
li a::before, li a::after {
  border: 1px solid transparent;
  width: 0;
  height: 0;
}
li a::before {
  top: 0;
  left: 0;
}
li a::after {
  bottom: 0;
  right: 0;
}
li a:hover {
  color: #60daaa;
}
li a:hover::before, li a:hover::after {
  width: 100%;
  height: 100%;
}
li a:hover::before {
  border-top-color: #60daaa;
  border-right-color: #60daaa;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
li a:hover::after {
  border-bottom-color: #60daaa;
  border-left-color: #60daaa;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}

.float-right {
  float: right !important;

  . row > & {
      margin-left: auto !important;
  }
}

/* LANDING PAGE
**************************************/

.card-wrapper {
  margin: 70px 0;
}
.card-link {
  color: #8e8e8e;
  display: block;
  font-size: 20px;
  font-weight: 600;
  height: 100%;
  width: 100%;
}
.card-link:hover {
  color: #797878;
}
.card {
  border-radius: 100%;
  width: 150px;
  height: 150px;
  border: 1px solid rgba(87, 31, 188, 0.4);
  margin: 0 auto;
  position: relative;
}
.card-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card:hover {
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(209, 85, 71, 0.4);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(209, 85, 71, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(209, 85, 71, 0);
  }
}
/* BLOG
**************************************/
.new-container {
  background-color: #edeff2;
}
.title{
  padding: 1rem 0;
}

@media (min-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
.section {
  padding: 4rem 0;
  display: block;
  position: relative;
  background-color: #edeff2;
}

.page-title {
  padding: 1rem 0;
  background-color: #fff;
}
.page-title i {
  border-radius: 40px;
  display: inline-block;
  font-size: 50px;
  height: 40px;
  line-height: 40px;
  margin-right: 1rem;
  text-align: center;
  vertical-align: middle;
  width: 40px;
}
.page-title h1 {
  color: #bfbfbf;
  padding: 0;
  margin: 0;
  text-align: left;
}
.blog-meta h4 {
  padding: 1rem 0 0.5rem;
  margin: 0;
}
.post-media {
  /* border-radius: 50%;
  height: 273px;
  overflow: hidden;
  position: relative;
  width: 273px; */
  display: inline-block;
  position: relative;
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
}
.post-media img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.post-media:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.blog-list {
  padding: 30px;
  margin: 0 0 30px;
  display: block;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.blog-list:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.hovereffect {
  position: absolute;
  top: 0;
  opacity: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  zoom: 1;
  filter: alpha(opacity=0);
  opacity: 0.5;
  background: -moz-linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.1) 50%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.1) 50%
  );
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.1) 50%
  );
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00000000', GradientType=1);
}
.post-media:hover .hovereffect span::before,
.post-media:hover .hovereffect {
  visibility: visible;
  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 1;
}
.hovereffect span::before {
  width: 90px;
  text-align: center;
  left: 0;
  right: 0;
  top: 45%;
  margin: -2rem auto;
  visibility: hidden;
  position: absolute;
  height: 90px;
  display: block;
  content: url(images/hover.png);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  zoom: 1;
  filter: alpha(opacity=0);
  opacity: 0;
}
.hovereffect span.videohover::before {
  content: url(images/videohover.png);
}
.blog-list .blog-meta.big-meta h4 {
  margin-left: -20%;
  margin-top: 1rem;
  background-color: #ffffff;
  padding: 1rem 1.5rem 1rem;
}
/* ABOUT
**************************************/
.about-image{ margin: 0 0 30px;}
.about-image img{ border-radius:10px;}

/* CONTACT
**************************************/
.contact-image img{ border-radius:10px;}
.contact-content p { margin:0 !important;}

/* FOOTER
**************************************/

.footer {
  padding: 4rem 0 4rem;
  background: url(../images/footer.png) repeat-x center bottom #edeff2;
}
.dmtop {
  background-color: #111111;
  background-image: url(../images/arrow.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: 9999;
  width: 40px;
  height: 40px;
  text-indent: -99999px;
  position: fixed;
  bottom: -100px;
  right: 25px;
  cursor: pointer;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  overflow: auto;
}
